:8080

header {
	X-Frame-Options "SAMEORIGIN"
	X-XSS-Protection "1; mode=block"
	X-Content-Type-Options "nosniff"
}

handle /api/* {
	reverse_proxy telemetry-service:8010
}

handle_path /dashboard/* {
	root * /app/www
	try_files {path} {path}/ /index.html
	file_server
}

handle /dashboard {
	redir /dashboard/ permanent
}

redir / /dashboard/ permanent
