FILE_QUEUE_SIZE=5000
WORKER_TIMEOUT=45m

BATCH_SIZE_BYTES=16777216
BATCH_SIZE_RECORDS=8000
BATCH_TIMEOUT=5s

GOGC=200

FILE_PROCESS_TIMEOUT=10m
RETRY_DELAY=500ms
MAX_RETRIES=3


ENABLE_PPROF=false
PPROF_PORT=6060
MEMORY_TUNING=false

# File Processing
FILE_AGE_THRESHOLD=30s